[submodule "libs/GameNetworkingSockets"]
	path = libs/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
